.m{
    text-align: center;
    margin-top: 25px;
    
}
.box7{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(210, 190, 126);
   border-radius: 10px;
}
.box9{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
   background-color: beige;
   border-radius: 10px;
}
.box10{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: aqua;
    border-radius: 10px;
}
.box11{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: beige;
    border-radius: 10px;
}
.box12{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 10px;
}
.box13{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.box14{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(114, 197, 76);
    border-radius: 10px;
}
.box15{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
  background-color: gray;
  border-radius: 10px;
}
.box16{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: pink;
    border-radius: 10px;
}
.box8{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    gap:20px;
   justify-content: center;
   box-shadow: 10px;
 
}
.box17{
    width: 40vw;
    height: 30vh;
    border: 2px solid yellow;
    margin-left: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(210, 190, 126);
   border-radius: 10px;
}
.box18{
    text-align: center;
    margin-top: 15px;
   padding: 20px;
}
.booking{
    width: 110vw;
    height: 100vh;
}
.booking-heading{
    position: absolute;
    right: 30%;

    bottom:60%;
    font-size: 50px;
    color: rgb(18, 16, 16);
}
.input{
    position: absolute;
    right: 30%;
    bottom: 40%;
   margin:30px;
 font-size: 20px;
 
}
.btn{
    position: absolute;
    bottom:43%;
    right: 20%;
    font-size: 24px;
    color: brown;
    border-radius: 10px;
   
  
}
.about{
    width: 110vw;
    height: 60vh;
}
.use{
    text-align: center;
}
.val{
    margin-left: 50px;
    font-size: 20px;
    color:rgb(21, 158, 176)
}
.val2{
    width: 40vw;
    height: 40vh;
    margin-left: 30px;
}
.val3{
    width: 40vw;
    height: 40vh;
    margin-left: 30px;
}
.val3{
    /* margin-left: 50px; */
    font-size: 20px;
    margin-top: 20px;
}
.val4{
    position:absolute;
    right:10%;
    /* left: 50%; */
  width: 30vw;
  height:50vh;
  border-radius: 10px;

}
.img{
    display: flex;
    flex-direction:row;

    width: 30vw;
    height: 45vh;
    margin-top: 20px;
}
.img2{
   position: absolute;
   bottom: 3%;
   display: flex;
   flex-direction: row;
   width: 28vw;
   height: 45vh;
   margin-top: 20px;
  
} 